* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

header {
  position: relative;
  background-color: #a8d5ba;
  color: black;
  padding: 20px 0;
  text-align: center;
  height: 280px;
  border-bottom: 20px solid #ffdd75;
}

.leavesLeft,
.leavesRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  min-width: 300px;
  height: auto;
  z-index: 1;
}

.leavesLeft {
  left: 0;
  margin-left: 2%;
}

.leavesRight {
  right: 0;
  margin-right: 2%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  position: absolute;
  width: 405px;
  left: 50%;
  top: -30px;
  filter: drop-shadow(8px 16px 16px rgba(0, 0, 0, 0.5));
  transform: translateX(-50%);
  z-index: 10;
}

#burger {
  display: none;
}

input + label {
  position: absolute;
  z-index: 100;
  top: 50px;
  right: 60px;
  height: 20px;
  width: 100px;
}

input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  display: block;
  background: #020304;
  transition: 0.5s;
}

input + label span:first-child {
  top: -34px;
  height: 10px;
}

input + label span:nth-child(2) {
  top: 0px;
  height: 10px;
}

input + label span:last-child {
  top: 34px;
  height: 10px;
}

label:hover {
  cursor: pointer;
}

input:checked + label {
  position: fixed;
  top: 20px;
  right: 10px;
  transition: top 0.3s ease;
}

input:checked + label span {
  opacity: 0;
  top: 50%;
}

input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}

input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}

input ~ nav {
  background: #a8d5ba;
  position: fixed;
  top: 0;
  right: 0;
  width: 0%;
  transition: width 0.5s ease-in-out;
  z-index: 20;
}

input:checked ~ nav {
  width: 40%;
  max-width: 400px;
}

input ~ nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
}

input ~ nav ul li {
  opacity: 0;
  transition: opacity 0.5s ease;
  list-style: none;
}

input:checked ~ nav ul li {
  opacity: 1;
  transition-delay: 0.5s;
}

input ~ nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 10px 0;
  font-size: 1rem;
}

input ~ nav ul li a:hover {
  background-color: #2727259c;
  color: #fff;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: black;
}

section.content {
  background-color: white;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

h2 {
  font-size: 1.8rem;
  color: #75bf06;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.8rem;
  color: #f3d273;
  margin-bottom: 15px;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

ul li strong {
  color: #2c3e50;
}

p {
  margin-bottom: 20px;
  font-size: 1.1rem;
  line-height: 1.8;
}

footer {
  background-color: #a8d5ba;
  color: black;
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
  border-top: 20px solid #ffdd75;
}

footer p {
  font-size: 1rem;
}

footer h3,
footer h2 {
  color: black;
}

/* --- Team Members (flex display) --- */
.team-members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.team-members ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3px;
  margin: 3px;
}
.team-members ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: black;
}
.team-members ul li a,
.team-members p {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: black;
}
footer a {
  color: black;
  text-decoration: none;
}

@media (min-width: 1000px) {
  footer .team-members .contacts {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    list-style: none;
    margin: 0;
  }
  footer .team-members .flexdirectionRow {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
  }
  footer .team-members .flexdirectionRow li {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  footer .team-members .flexdirectionRow {
    flex-direction: column;
    font-size: 1rem;
  }
  footer .team-members .flexdirectionRow li {
    font-size: 1rem;
  }
  header h1 {
    font-size: 2rem;
  }
  header p {
    font-size: 1rem;
  }
  h2,
  h3 {
    font-size: 1.5rem;
  }
  ul li {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  input + label {
    top: 20px;
    right: 10px;
    height: 20px;
    width: 50px;
  }
  input + label span {
    top: 0%;
    margin-top: -1px;
    left: 0;
  }

  input + label span:first-child {
    top: -17px;
    height: 10px;
  }

  input + label span:nth-child(2) {
    height: 10px;
    top: 0px;
  }

  input + label span:last-child {
    top: 17px;
    height: 10px;
  }

  /* Transition des icônes du menu burger */
  input:checked + label span {
    z-index: 100;
    top: 50%;
  }

  input:checked + label span:first-child {
    z-index: 100;
    /* transform: rotate(405deg); */
  }

  input:checked + label span:last-child {
    z-index: 100;
    /* transform: rotate(-405deg); */
  }

  input:checked ~ nav {
    width: 60%;
  }
  input ~ nav ul {
    text-align: center;
    align-items: left;
  }
  input ~ nav ul li a {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.5rem;
  }
  header p {
    font-size: 0.9rem;
  }
  h2,
  h3 {
    font-size: 1.3rem;
  }
  ul li {
    font-size: 0.9rem;
  }
  p {
    font-size: 0.9rem;
  }
  .container {
    width: 100%;
    padding: 10px;
  }
  input:checked ~ nav {
    width: 100%;
  }
}
#bodyIndex #error-message {
  color: red;
  font-size: 0.9em;
  text-align: center;
}
footer ul li a {
  display: flex;
  flex-direction: row;
  align-items: center; /* Aligne le texte et l'icône sur la même ligne */
  text-decoration: none; /* Enlève le soulignement des liens */
}

footer ul li a svg {
  margin-left: 5px; /* Ajoute un petit espace entre l'icône et le texte */
  width: 18px; /* Définit la taille de l'icône */
  height: 18px; /* Définit la taille de l'icône */
}

footer ul li a:hover {
  font-size: 1.1em; /* Augmente légèrement la taille du texte au survol */
}

footer ul li a:visited {
  color: #000; /* Change la couleur du lien après l'avoir visité */
}

/* Si vous voulez un texte plus grand globalement */
footer li {
  font-size: 1.2em; /* Augmente la taille du texte des éléments li */
}
footer .team-members ul .flexdirectionRow {
  display: flex;
  flex-direction: row;
}
#headerMain ul {
  padding-inline-start: 0px;
}
#headerMain ul li {
  font-size: 0.8rem;
}
#headerMain ul li a {
  text-align: left;
}
