<template id="header">
  <img
    src="./assets/images/decorPlanteDailyZenPlanner.png"
    alt="decorPlanteDailyZenPlanner"
    class="leavesLeft"
  />
  <img
    src="./assets/images/decorPlanteDailyZenPlanner.png"
    alt="decorPlanteDailyZenPlanner"
    class="leavesRight"
  />
  <img
    src="./assets/images/logoDailyZenPlanner.png"
    alt="logoDailyZenPlanner"
    class="logo"
  />

  <input id="burger" type="checkbox" />

  <label for="burger">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav>
    <ul>
      <li><a href="#introduction" class="black">Introduction</a></li>
      <li>
        <a href="#besoinsUtilisateurs" class="black"
          >Besoins des utilisateurs</a
        >
      </li>
      <li>
        <a href="#forWorkShop" class="black"
          >Fonctionnalités intégrées pour le Workshop</a
        >
      </li>
      <li>
        <a href="#suppFonctionnalités" class="black"
          >Améliorations et Fonctionnalités Complémentaires</a
        >
      </li>
      <li><a href="#conclusion" class="black">Conclusion</a></li>
      <li><a href="#contacts" class="black">Contacts</a></li>
      <li><a href="#contacts" class="black">images</a></li>
    </ul>
  </nav>
</template>
